# Instructions

## Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

State the null hypothesis
State the alternate hypothesis
What is the significance level
What are the degrees of freedom of model, error terms, and total DoF
Data was collected randomly and provided to you in the table as shown: link to the image - Data

## Part 2
In this section, use Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

# Start of the Lab

# Part 1

## State the null hypothesis

Null Hypothesis (H₀): Changing the power of the plasma beam does not have any effect on the mean etching rate.

## State the alternate hypothesis

Alternate Hypothesis (H₁): Changing the power of the plasma beam has an effect on the mean etching rate.

## What is the significance level

Significance Level: The significance level is the threshold for determining statistical significance. We will use 0.05 (5%)

## What are the degrees of freedom of model, error terms, and total DoF

- dof1 = number_of_groups - 1 = 3 - 1 = 2
- Error Term DoF (dof2) = n - number_of_groups = 15 - 3 = 12
- total_DoF = n - 1 = 15 - 1 = 14
- F(dof₁, dof₂) = F(2, 12)

In [1]:
n = 15
number_of_groups = 3
dof1 = 2
dof2 = 12
total_DoF = 14

# Part 2

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [4]:
data.columns = data.columns.str.strip().str.replace(' ', '_').str.lower()
data.columns

Index(['power', 'etching_rate'], dtype='object')

In [5]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('etching_rate ~ C(power)', data=data).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

## Conclusion

The p-value is very small (p < 0.05), indicating that there is a significant effect of changing the power of the plasma beam on the mean etching rate.

Therefore, we reject the null hypothesis (H₀) which states that changing the power of the plasma beam does not have any effect on the mean etching rate.

The alternative hypothesis (H₁) is supported, suggesting that changing the power of the plasma beam has an effect on the mean etching rate.